@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* shared style */

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
  background-color: rgba(255, 144, 14, 1);
  color: white;
  border: none;
  width: 180px;
  height: 64px;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
}

/* header section */

/* header section */

.nav,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.link-item {
  list-style: none;
  color: rgba(66, 66, 66, 1);
}

.link-items {
  display: flex;
  gap: 30px;
}

.link-anchor {
  text-decoration: none;
  color: rgba(66, 66, 66, 1);
  font-size: 1.3rem;
}

.brand-name {
  color: rgba(19, 19, 19, 1);
  font-size: 3rem;
}

.banner-containt {
   max-width: 862px;
  text-align: center;
  margin: 0 auto;


}


.brand-title {
  font-size: 3rem;
}

.brand-subtitle {
  color: rgba(114, 114, 114, 1);
  font-size: 1.2rem;
  margin-bottom: 30px;


}

.img {
  margin-top: 30px;
}

.banner-image {
  width: 100%;
}




/* for medium phone */

@media screen and (max-width:576px) {

  .link-items,
  .nav {
    flex-direction: column;
  }

  
  



}