@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* header section */

/* header section */

.nav, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.link-item{
  list-style: none;
}

.link-items{
  display: flex;
  gap: 30px;
}

.link-anchor{
  text-decoration: none;
}